---
layout: page
---
<h4>Personal Interests</h4>

Outisde of work, I enjoy programming for myself and pursue additionnal trainings. I like listening to music, reading and playing video games in my free time and I follow a number of sci-fi, thriller and fantasy genre movies and series.

<br/>
<h4>Professional Projects</h4>

I am very curious and love learning every day.<br/>I'm currently improving my cybersecurity skills to bring more safety in businesses.

<br/>
<h4>TryHackMe and training platfroms Experience</h4>

I do continous learning in cybersecurity with TryHackMe learning paths, INE and TCM Security. I have already completed 8 of 11 of the available learning paths on TryHackMe. 
TryHackMe also have badges for successfull experiences that you can view on my profile.

<br/>
<script src="https://tryhackme.com/badge/270384"></script>