---
layout: default
---
{% include lang.html %}

<div id="certs">  
    <h3> OpenClassRoom </h3>
    <ul> 
        <li>
            <a href="/me/images/certs/Openclassroom/certificat_louis-gerard_apprenez-a-naviguer-en-securite-sur-internet.jpeg" target="_blank">
                Apprenez à naviguer en securite sur internet
            </a>
        </li>
        <li>
            <a href="/me/images/certs/Openclassroom/certificat_louis-gerard_apprenez_a_utiliser_la_ligne_de_commande_dans_un_terminal.jpeg" target="_blank">
                Apprenez à utiliser la ligne de commande dans un terminal
            </a>
        </li>
        <li>
            <a href="/me/images/certs/Openclassroom/certificat_louis-gerard_decouvrez-la-programmation-orientee-objet-avec-python.jpeg" target="_blank">
                Découvrez la programmation orientee objet avec python
            </a>
        </li>
        <li>
            <a href="/me/images/certs/Openclassroom/certificat_louis-gerard_decouvrez-le-monde-des-systemes-dinformation.jpeg" target="_blank">
                Découvrez le monde des systemes d'information
            </a>
        </li>
        <li>
            <a href="/me/images/certs/Openclassroom/certificat_louis-gerard_decouvrez-lunivers-de-la-cybersecurite.jpeg" target="_blank">
                Découvrez lunivers de la cybersécurité
            </a>
        </li>
        <li>
            <a href="/me/images/certs/Openclassroom/certificat_louis-gerard_demarrez-votre-projet-avec-python.jpeg" target="_blank">
                Démarrez votre projet avec python
            </a>
        </li>
        <li>
            <a href="/me/images/certs/Openclassroom/certificat_louis-gerard_effectuez_votre_veille_en_cybersecurite.jpeg" target="_blank">
                Effectuez votre veille en cybersécurité
            </a>
        </li>
        <li>
            <a href="/me/images/certs/Openclassroom/certificat_louis-gerard_gerez-votre-code-avec-git-et-github.jpeg" target="_blank">
                Gérez votre code avec git et github
            </a>
        </li>
        <li>
            <a href="/me/images/certs/Openclassroom/certificat_louis-gerard_gerez-votre-projet-avec-une-equipe-scrum.jpeg" target="_blank">
                Gérez votre projet avec une equipe scrum
            </a>
        </li>
        <li>
            <a href="/me/images/certs/Openclassroom/certificat_louis-gerard_le-machine-learning-est-il-l-avenir-de-l-homme.jpeg" target="_blank">
                Le machine learning est-il l'avenir de l'homme ?
            </a>
        </li>
        <li>
            <a href="/me/images/certs/Openclassroom/certificat_louis-gerard_mettez-en-place-un-systeme-de-veille-informationnelle.jpeg" target="_blank">
               mettez en place un systeme de veille informationnelle
            </a>
        </li>
        <li>
            <a href="/me/images/certs/Openclassroom/certificat_louis-gerard_prenez_en_main_windows_server.jpeg" target="_blank">
                Prenez en main windows server
            </a>
        </li>
        <li>
            <a href="/me/images/certs/Openclassroom/certificat_louis-gerard_securisez_votre_reseau_grace_aux_vpn_et_firewall.jpeg" target="_blank">
                Sécurisez votre reseau grace aux vpn et firewall
            </a>
        </li>
        <li>
            <a href="/me/images/certs/Openclassroom/certificat_louis-gerard_simulez_des_architectures_reseaux_avec_GNS3.jpeg" target="_blank">
                Simulez des architectures réseaux avec GNS3
            </a>
        </li>
        <li>
            <a href="/me/images/certs/Openclassroom/certificat_louis-gerard_surfez_incognito_sur_internet_avec_le_reseau_tor.jpeg" target="_blank">
                Surfez incognito sur internet avec le réseau tor
            </a>
        </li>
    </ul>

    <h3> TryHackMe </h3>  
    <ul> 
        <li>
            <a href="/me/images/certs/thm/certificat_louis-gerard_advant-of-cyber-2.png" target="_blank">
                Advant of cyber 2020
            </a>
        </li>
        <li>
            <a href="/me/images/certs/thm/certificat_louis-gerard_advant-of-cyber-3.png" target="_blank">
                Advant of cyber 2021
            </a>
        </li>
        <li>
            <a href="/me/images/certs/thm/certificat_louis-gerard_advant-of-cyber-4.png" target="_blank">
                Advant of cyber 2022
            </a>
        </li>
        <li>
            <a href="/me/images/certs/thm/certificat_louis-gerard_complete_beginner_learning_path.png" target="_blank">
                Complete beginner learning path
            </a>
        </li>
        <li>
            <a href="/me/images/certs/thm/certificat_louis-gerard_comptia_pentest_plus_learning_path.png" target="_blank">
                Comptia pentest plus learning path
            </a>
        </li>
        <li>
            <a href="/me/images/certs/thm/certificat_louis-gerard_cyber_defense_learning_path.png" target="_blank">
                Cyber defense learning path
            </a>
        </li>
        <li>
            <a href="images/Certs/thm/certificat_louis-gerard_introduction_to_cyber_security_learning_path.png" target="_blank">
                Introduction to cyber security learning path
            </a>
        </li>
        <li>
            <a href="/me/images/certs/thm/certificat_louis-gerard_jr_penetration_tester_learning_path.png" target="_blank">
                Jr penetration tester learning path
            </a>
        </li>
        <li>
            <a href="/me/images/certs/thm/certificat_louis-gerard_offensive_pentesting_learning_path.png" target="_blank">
                Offensive pentesting learning path
            </a>
        </li>
        <li>
            <a href="/me/images/certs/thm/certificat_louis-gerard_pre_security_learning_path.png" target="_blank">
                Pre security learning path
            </a>
        </li>
        <li>
            <a href="/me/images/certs/thm/certificat_louis-gerard_web_fundamentals_learning_path.png" target="_blank">
                Web fundamentals learning path
            </a>
        </li>
    </ul>

    <h3> Tehtris </h3>  
    <ul> 
        <li>
            Tehtris UES niveau 2 (2022/12/23 - 2024/12/23)
        </li>
        <li>
            Tehtris SOAR niveau 2 (2022/12/23 - 2024/12/23)
        </li>
        <li>
            Tehtris DATA SCIENCE niveau 2 (2022/12/23 - 2024/12/23)
        </li>
        <li>
            Tehtris XDR niveau 1 (2022/12/23 - 2024/12/23)
        </li>
    </ul>
 </div>